.jck-woosocial-actions {
    position: relative;
    padding: 0;
    margin: 0;
    
    &:before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
        height: 100%;
        width: 1px;
        background: $c-border;
        
        @include bp(large) {
            left: 50%;
            margin-left: 0;
        }
    }
}

    .jck-woosocial-action {
        position: relative;
        margin: 2em 0;
        padding: 0;
        list-style: none none outside;
        
        @include bp(large) {
            margin: 4em 0;
        }
        
        &:first-child {
            margin-top: 0;
            
            @include bp(large) {
                margin-top: 0;
            }
        }
        
        &:last-child {
            margin-bottom: 0;
            
            @include bp(large) {
                margin-bottom: 0;
            }

        }
        
        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-top: 2px;
            
            @include bp(large) {
                width: 48px;
                height: 48px;
                left: 50%;
                margin-left: -24px;
                /* Force Hardware Acceleration in WebKit */
                -webkit-transform: translateZ(0);
                -webkit-backface-visibility: hidden;
            }
            
            i {
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -12px;
                margin-top: -12px;
                font-size: 22px;
                text-align: center;
                color: #fff;
                
                &:before {
                    display: block;
                    vertical-align: top;
                }
            }
            
            &--like {
                background: $c-like;
                border: 2px solid $c-like-secondary;
                
                i {
                    margin-top: -9px;
                }
            }
            
            &--follow {
                background: $c-follow;
                border: 2px solid $c-follow-secondary;
                
                i {
                    margin-top: -11px;
                }
            }
        }
        
        &__wrapper {
            position: relative;
            margin-left: 60px;
            background: #fff;
            border-radius: 5px;
            padding: 0;
            
            @include bp(large) {
                margin-left: 0;
                padding: 0;
                width: 45%;
            }
            
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            
            &:before {
                content: '';
                position: absolute;
                top: 16px;
                right: 100%;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-right: 7px solid $c-border;
                
                @include bp(large) {
                    top: 19px;
                    left: 100%;
                    border-color: transparent;
                    border-left-color: $c-border;
                }
            }
        }
        
        &__description {
            display: block;
            width: 100%;
            height: 50px;
            overflow: hidden;
            background: $c-border;
            border-radius: $border-radius $border-radius 0 0;
            line-height: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 8px;
            box-sizing: border-box;
            
            & .avatar {
                width: 34px;
                height: 34px;
                border-radius: 100%;
                margin: 8px 10px 8px 0;
                float: left;
                display: inline;
                border: none;
            }
        }
        
        &__content {
            border-top: none;
            border-radius: 0 0 $border-radius $border-radius;
            
            .jck-woosocial-card {
                
                &--user {
                    .jck-woosocial-card__title {
                        margin: 7px 0 0;
                    }
                    
                    .jck-woosocial-card__content {
                        padding: 0 80px 0 0;
                    }
                }
                
                &--product {
                    .jck-woosocial-card__title {
                        margin: 15px 0 0;
                    }
                }
                
                &__image {
                    float: left;
                    max-width: 80px;
                    margin: 0;
                    width: 25%;
                    display: inline;
                    
                    .jck-woosocial-btn--add-to-cart-wrapper,
                    .jck-woosocial-btn--follow-wrapper {
                        display: none !important;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                
                &__content {
                    float: right;
                    width: 70%;
                    display: inline;
                }
                
                &__title,
                &__user-stats {
                    text-align: left;
                }
                
                &__user-stats {
                    position: absolute;
                    top: 70px;
                    right: 0;
                    margin: 0;
                    width: 80px;
                    border-left: 1px solid $c-border;
                    padding: 0 0 0 15px;
                }
                
                    &__user-stat {
                        padding: 0;
                        display: block;
                        margin: 1px 0;
                    }
            }
            
            .jck-woosocial-product-likes {
                clear: both;
                float: left;
                max-width: 50%;
                margin: 15px 0 0;
            }
            
            .jck-woosocial-btn--add-to-cart-wrapper {
                float: right;
                margin: 15px 0 0;
                padding: 0;
                height: 34px;
                display: block;
                
                a {
                    margin: 2px 0;
                }
            }
            
            .jck-woosocial-btn--follow-wrapper {
                display: block;
                margin: 5px 0 0 -3px;
            }
        }
        
        &__date {
            display: inline-block;
            float: left;
            
            @include bp(large) {
                position: absolute;
                width: 100%;
                left: 122%;
                top: 0;
                line-height: 60px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    

@media only screen and (min-width: 1170px) {
  
    .jck-woosocial-action:nth-child(even) .jck-woosocial-action__wrapper {
        float: right;
        
        &:before {
            top: 20px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: $c-border;
        }
    }
    
    .jck-woosocial-action:nth-child(even) .jck-woosocial-action__wrapper .jck-woosocial-action__date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    
}