// Placeholders

%small-date {
    left: -68px;
    top: 48px;
    line-height: 0.9em;
    width: 48px;
    font-size: 12px;
    white-space: normal;
    text-align: center;
    padding: 5px 0;
    background-color: #fff;
}

%small-wrapper {
    width: auto;
    float: none;
    margin-left: 20px;
    box-sizing: border-box;
    display: block;
}

// Styles

.jck-woosocial-actions {
    position: relative;
    padding: 0;
    margin: 0;
    
    &:before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 50%;
        margin-left: 0;
        width: 1px;
        background: $c-border;
    }
    
    &__load-more {
        position: relative;
        list-style: none none outside;
        margin: 20px 0 0;
        height: 30px;
        overflow: hidden;
        
        .jck-woosocial-load-more {
            margin: 0;
        }
        
        .jck-woosocial-actions--small & {
            overflow: visible;
            
            .jck-woosocial-load-more-wrapper {
                margin-left: -48px;
                text-align: left;
                
                .jck-woosocial-btn {
                    padding: 0 15px;
                }
            }
        }
    }
    
    &--small {
        padding-left: 48px;
        
        &:before {
            left: 24px;
        }   
    }
}

    .jck-woosocial-action {
        position: relative;
        margin: 4em 0;
        padding: 0;
        list-style: none none outside;
        
        &:first-child {
            margin-top: 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
        
        &__icon {
            position: absolute;
            top: 0;
            left: 50%;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-top: 2px;
            margin-left: -24px;
            transform: translateZ(0);
            backface-visibility: hidden;
            
            i {
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -12px;
                margin-top: -12px;
                font-size: 22px;
                text-align: center;
                color: #fff;
                
                &:before {
                    display: block;
                    vertical-align: top;
                }
            }
            
            &--like {
                background: $c-like;
                border: 2px solid $c-like-secondary;
                
                i {
                    margin-top: -9px;
                }
            }
            
            &--follow {
                background: $c-follow;
                border: 2px solid $c-follow-secondary;
                
                i {
                    margin-top: -11px;
                }
            }
            
            .jck-woosocial-actions--small & {
                left: -43px;
                width: 38px;
                height: 38px;
                margin-left: 0;
                
                i {
                    font-size: 18px;
                }
                
                &--follow {
                    i {
                        margin-top: -10px;
                    }
                }
                
                &--like {
                    i {
                        margin-top: -8px;
                    }
                }
            }
        }
        
        &__wrapper {
            position: relative;
            background: #fff;
            border-radius: 5px;
            margin-left: 0;
            padding: 0;
            width: 42%;
            
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            
            &:before {
                content: '';
                position: absolute;
                top: 18px;
                left: 100%;
                height: 0;
                width: 0;
                border-style: solid;
                border-width: 8px 0 8px 10px;
                border-color: transparent;
                border-left-color: $c-border;
            }
            
            .jck-woosocial-actions--small & {
                @extend %small-wrapper;
                
                &:before {
                    top: 13px;
                    left: auto;
                    right: 100%;
                    border-width: 8px 10px 8px 0;
                    border-color: transparent;
                    border-right-color: $c-border;
                }
            }
        }
        
        &:nth-child(even) &__wrapper {
            float: right;
            
            &:before {
                top: 18px;
                left: auto;
                right: 100%;
                border-width: 8px 10px 8px 0;
                border-color: transparent;
                border-right-color: $c-border;
            }
            
            .jck-woosocial-action__date {
                left: auto;
                right: 133%;
                text-align: right;
                
                .jck-woosocial-actions--small & {
                    @extend %small-date;
                }
            }
            
            .jck-woosocial-actions--small & {
                @extend %small-wrapper;
                
                &:before {
                    top: 13px;
                }
            }
        }
        
        &__description {
            display: block;
            width: 100%;
            height: 50px;
            overflow: hidden;
            background: $c-border;
            border-radius: $border-radius $border-radius 0 0;
            line-height: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 8px;
            box-sizing: border-box;
            
            a {
                border: none;
            }
            
            & .avatar {
                width: 34px;
                height: 34px;
                border-radius: 100%;
                margin: 8px 10px 8px 0;
                float: left;
                display: inline;
                border: none;
            }
            
            .jck-woosocial-actions--small & {
                height: 40px;
                line-height: 40px;
                
                & .avatar {
                    height: 24px;
                    width: 24px;
                }
            }
        }
        
        &__content {
            border-top: none;
            border-radius: 0 0 $border-radius $border-radius;
        }
        
        &__date {
            position: absolute;
            width: 100%;
            left: 135%;
            top: 0;
            line-height: 50px;
            white-space: nowrap;
            overflow: hidden;
            color: #888;
            
            .jck-woosocial-actions--small & {
                @extend %small-date;
            }
        }
    }