.jck-woosocial-card {
    border: 1px solid $c-border;
    padding: 15px;
    
    &--product {
        &__price {
            margin: 0 0 20px;
            display: block;
            line-height: 1.4;
        }
    }
    
    &__image {
        margin: 0 0 20px;
        
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    
    &__title {
        font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $c-text-primary;
        margin: 0;
        line-height: 1.4;
        
        a {
            text-decoration: none;
            color: $c-text-primary;
        }
    }
}