.jck-woosocial-container {
    width: 100%;
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

// Helpers

.jck-woosocial-vertical-align {
    display: inline-block;
    vertical-align: middle;
}

.jck-woosocial-clear {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}