.jck_woo_social-container {
    width: 100%;
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

// Helpers

.jck_woo_social-vertical-align {
    display: inline-block;
    vertical-align: middle;
}

.jck_woo_social-clear {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}