.jck-woosocial-btn--follow-wrapper {
    height: 30px;
    text-align: center;
    margin: 5px 0 15px;
}

    .jck-woosocial-follow-action {
        background: $c-follow;
        
        &:focus,
        &:hover {
            background: darken( $c-follow, 5% );
        }
    }