// Button

.jck-woosocial-like-action {    
    cursor: pointer;    
}

// Product Likes

.jck-woosocial-product-likes {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    
    &--loop {
        border-top: 1px solid $c-border;
        margin-top: 15px;
        padding-top: 15px;
        height: 34px;
        overflow: hidden;
        box-sizing: content-box;
    }
}
    
    .jck-woosocial-product-likes__item {
        width: 34px;
        height: 34px;
        line-height: 34px;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        margin: 0 0 0 -10px;
        padding: 0;
        float: right;
        
        img {
            @extend %avatar-small;
            
            border: 2px solid #fff;
        }
        
        &--like-button {
            float: left;
            margin-right: 10px;
            margin-left: 0;
            width: auto;
        }
    }

// Profile - User likes

.jck-woosocial-user-likes {
    overflow: hidden;
    margin: 0 -1%;
    width: 102%;
    
    .jck-woosocial-card {
        float: left;
        width: 23.5%;
        margin: 0 1% 2%;
        box-sizing: border-box;
    }
}