// Buttons

.iconic-woosocial-product-like-action {    
    cursor: pointer;
}

.iconic-woosocial-btn--like {
    background: $c-like;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 12.5px;
    
    &:focus,
    &:hover {
        background: darken( $c-like, 5% );
    }
    
    i {
        display: inline-block;
        height: 14px;
        
        &:before {
            vertical-align: top;
        }
    }
}

.iconic-woosocial-add-to-cart-wrapper {
    margin: 0;
    padding: 0;
    display: block;
    background: none;
    box-shadow: none;
    height: 30px;
    
    a.button {
        @extend .iconic-woosocial-btn;
        
        &.loading {
            opacity: 1 !important;
        }
        
        &.added {
            &:before,
            &:after {
                display: none !important;
            }
        }
    }
    
    .added_to_cart {
        display: none !important;
    }
    
    i {
        margin: 8px 0 6px 5px;
        float: right;
        width: 16px;
        height: 16px;
        display: inline;
        line-height: 1;
    }
    
    .iconic-woosocial-ic-loading {
        transform-origin: 50% 44%;
        transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        font-smoothing: antialiased;
        
        &:before {
            width: 16px;
            height: 16px;
            line-height: 1;
            display: inline-block;
        }
    }
}

// Product Likes

.iconic-woosocial-product-likes-wrapper {
    
    &--centre {
        text-align: center;
    }
    
    &--left {
        text-align: left;
    }
    
    &--right {
        text-align: right;
    }
    
}

.iconic-woosocial-product-likes {
    width: auto;
    max-width: 100%;
    margin: 10px auto;
    padding: 0 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    height: 34px;
    text-align: left;
    display: inline-block;
}
    
    .iconic-woosocial-product-likes__item {
        width: 34px;
        height: 34px;
        line-height: 34px;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        margin: 0 -10px 0 0;
        padding: 0;
        float: left;
        
        img {
            @extend %avatar-small;
            
            border: 2px solid #fff;
        }
        
        &--like-button {
            float: left;
            margin-right: 10px;
            margin-left: 0;
            width: auto;
            padding: 4px 0;
        }
    }