.jck-woosocial-profile-wrapper {
    
}

    .jck-woosocial-profile-info {
        float: left;
        width: 23.5%;
        display: inline;
    }
    
    .jck-woosocial-profile-feeds {
        float: right;
        width: 74.5%;
        display: inline;
    }
    
    .jck-woosocial-profile-links {
    
    }
    
        .jck-woosocial-profile-link {
    
            
            &:hover {
    
            }
            
            &--active {
    
            }
        }